  .Home {
    display:flex;
    flex-direction: column;
  }
  
  .Home-header {
    background: linear-gradient(268.37deg, #2C6CB8 0%, #27446E 99.05%);
    width: 100%;
    height: calc(370px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    position: fixed;
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 0;
  }
  
  .Home-text {
    text-align: center;
    font-size: calc(30px);
  }

  .Home-text-2 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .regBut {
      margin-top: 30%;
      margin-left: 30%;
      align-items: center;
  }
  