.presentation {
  margin-left: 20px;
  display: 'block';
  margin-top: 70px;
  position: 'relative';
}

.presentationMentee {
  display: 'block';
  margin-top: 20px;
  position: 'relative';
}

.person {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.description {
  max-width: '100px';
  height: 400px;
}

.information {
  margin-left: 250px;
}

.information-section {
  display: inline-block;
  width: 250px;
}

.button {
  position: 'fixed';
  margin-left: 10px;
  text-align: "center";
}

.secondBox {
  margin-left: 20px;
  width: 250px;
}

.thirdBox {
  margin-left: 50px;
  width: 250px;
}

.calendar {
 display: inline-block; 
}

.week {
 height: 32px; 
}

.persona {
  padding-top: 20px;
  padding-bottom: 20px;
}

.personaCard {
  padding-left: 15px;
  padding-top: 25px;
}

.personaCardButtons {
  padding-left: 25px;
  padding-top: 60px;
}

.profile {
  margin-left: 10%;
  margin-bottom: 2.5%;
}

.profileMentee {
  margin-left: 20px;
  margin-top: 2.5%;
}

.credits {
  margin-left: 10%;
}

.schedule {
  width: 250px;
}

.leftSection {
  width: 40%;
  margin-left: 10%;
  display: inline-block;
}

.rightSection {
  width: 40%;
  display: inline-block;
  vertical-align:top
}

.personaMentee {
  background-color: #aaafbe;
}

.personaProfile {
  color: rgb(0, 16, 235);
}