body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  vertical-align: top;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #042383;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(25px);
  color: rgb(255, 255, 255);
  position: fixed;
  z-index: 500;
  top: 0;
}

.App-text {
  margin-left: 10px;
  margin: 10px 10px 10px 10px;
}

.App-link {
  color: #61dafb;
}