.body {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 50%;
}

.search {
    margin-left: 30%;
}

.checkbox {
    display: flex;
    text-align: right;
    padding-left: 20%;
    font-size: xx-small !important;
}

.searchResults {
    padding-left: 10%;
}

.searchResultsLengthText {
    display: flex;
    text-align: left;
}

.groupedList {
    color: black;
    font-size: xx-small;
}

.mentor {
    padding-top: 30px;
}

.icon {
    color: black;
}
.mentorInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5%;
    justify-items: space-between;
}

.persona {
    padding-top: 20px;
    padding-bottom: 20px;
}

.personaCard {
    padding-left: 15px;
    padding-top: 25px;
}

.personaCardButtons {
    padding-left: 25px;
    padding-top: 60px;
}

.mentorName {
    font-size: small;
    width: fit-content;
}

.mentorRole {
    font-size: xx-small;
    width: fit-content;
}

.mentorButtons {
    display: flex;
    flex-direction: row;
}

.mentorScheduleHeader {
    margin: 20px;
    font-weight: bold;
}

.scheduleButtons {
    margin: 15px;
    margin-left: 20px;
}

.datePicker {
    min-width: 200px;
}

.timePicker {
    min-width: 150px;
}

.scheduleModal {
    border-top: 30px solid blue;
    max-width: 400px;
}

.successModal {
    border-top: 20px solid blue;
    max-width: 400px;
    min-width: 400px;
    min-height: 350px;
}

.sucessImage {
    max-width: 200px;
    max-height: 200px;
}

.successModalContent {
    max-width: 200px;
    max-height: 200px;
    margin-top: 30px;
}

.sessionText {
    font-weight: bold;
}

.successModalText {
    font-weight: bold;
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.successModalCloseButton {
    margin-left: 15px;
    margin-bottom: 15px;
}